{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
    <body>
    <div class="login-background">
        <div class="login-col">
          <div class="login-container">
              <img src="/images/logo/512x512.png" class="login-logo animate login-transitions" id="logo">

            <div id="login-inputs" class="white-text login-inputs animate login-transitions"> 
              <div class="input-field col s5">
               <input id="email" type="email" class="validate">
               <label for="email">Email</label>
              </div>
              <div class="input-field col s5">
               <input id="password" type="password" class="validate">
               <label for="password">Password</label>
              </div>
              <div class="col s5" style="display: none;" id="login-btn-container">
                <a class="waves-effect waves-light btn" onclick="login();"><i class="material-icons left">lock_open</i>Login With Passport</a>
              </div>
              <div id="alt-login-options">
              <div class="col s5">
                <a href="/auth/google/dscm"><button class="google-auth google-dark waves-effect waves-light"><span class="google-icon"></span><span class="google-text">Signin with Google</span></button></a>
                
              </div>
                <div class="col s5" id="new-account">
                  <br>
                  New? <a href="/auth/signup/">Create an account!</a>
                </div>
                
              </div>
            </div>
          </div>
          
        </div>
      
   
        
        <div class="outdated-browser" id="outdated-browser" style="display: none;">
             <h6></h6>
             <p>Passport only officially supports the Chrome, Firefox, and Vivaldi browsers. <br> However, Passport has been tested on Opera and Safari with success. <br> Unfortunately a few features may be missing like push notifications and full Android App support with Chrome Mobile. <br> Microsoft Edge is partially unsupported.  Support may be added in a later update.<br> <br> <a class="waves-effect waves-green btn-flat center" href="http://outdatedbrowser.com/en">Need a browser?</a></p>
             <p class="outdated-browser-last"><a href="#" class="outdated-browser-btnCloseUpdateBrowser" title="Close" onclick="document.getElementById('outdated-browser').style.display = 'none'">&times;</a></p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
	<script src="/js/passport.js"></script>
    <script src="/ua-parser-js/dist/ua-parser.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var parser = new UAParser().getResult();
            console.log(parser.browser)
            if(parser.browser.name == "Chrome" || parser.browser.name == "Vivaldi" || parser.browser.name == "Firefox"  ) {
                $("#outdated-browser").hide();
            } else if (parser.browser.name == "Edge") {
                $("#outdated-browser").show();
                $("#outdated-browser").find("h6").prepend("Your browser is partially unsupported!")
            } else if (parser.browser.name == "Opera" || parser.browser.name == "Safari") {
                $("#outdated-browser").show();
                $("#outdated-browser").find("h6").prepend("Your browser is unofficially supported!")
            } else {
                $("#outdated-browser").show();
                $("#outdated-browser").find("h6").prepend("Your browser is unsupported!")
            }
        })
    </script>
    <script type="text/javascript">

        $("#email").on( "input", function(){checkFormFill();})
        $("#password").on( "input", function(){checkFormFill();})

        function checkFormFill() {
          console.log($("#email").val())
          if($("#email").val() == "" && $("#password").val() == "") {
            $("#login-btn-container").slideUp(500);
            $("#alt-login-options").slideDown(500);
          } else {
            $("#login-btn-container").slideDown(500);
            $("#alt-login-options").slideUp(500);
          }
        }

        function login() {
            var email = $("#email").val();
            var password = $("#password").val();
            if(email == "" || password == "") {
                Materialize.toast('Please Enter Your PassportID', 6000)
            } else {
                isFormLoading(true);
                $.ajax({
                    type: "post",
                    url: "/api/auth/login/dscm/",
                    data: {email: email, password: password},
                    success: function(data) {
                        window.location.href = "/"
                    },
                    error: function(jqXHR) {
                        if(jqXHR.status == 401) {
                            Materialize.toast('Email or Password is incorrect', 6000)
                            isFormLoading(false);
                        } else {
                            isFormLoading(false);
                            errorHand(jqXHR)
                        }
                        
                    }                      
              });
            }
        }
        function isFormLoading(bool) {
            if(bool) {
                $("#logo").removeClass("animate").addClass("load");
                $("#login-inputs").removeClass("animate").addClass("load");
            } else {
                $("#logo").removeClass("load").addClass("animate");
                $("#login-inputs").removeClass("load").addClass("animate");
            }
        }
        //handle submit
        $('body').keypress(function (e) {
          if (e.which == 13) {
            login();
            return false;   
          }
        });
    </script>
    </body>


    </html>