{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
    <body>
    <div class="login-background">
        <div class="login-col">
          <div class="login-container">
            
            <img src="/images/logo/512x512.png" class="login-logo animate login-transitions" id="logo">

            <div id="login-inputs" class="white-text login-inputs animate login-transitions"> 
              <div class="input-field col s5">
               <input id="email" type="email" class="validate">
               <label for="email">Email</label>
              </div>
              <div class="input-field col s5">
               <input id="password" type="password" class="validate">
               <label for="password">Password</label>
              </div>
              <div class="col s5" style="display: none;" id="login-btn-container">
                <a class="waves-effect waves-light btn" onclick="login();"><i class="material-icons left">lock_open</i>Login With Passport</a>
              </div>
              <div id="alt-login-options">
              <div class="col s5">
                <a href="/auth/google?dscm=true{{googleQuery}}"><button class="google-auth google-dark waves-effect waves-light"><span class="google-icon"></span><span class="google-text">Signin with Google</span></button></a>
                
              </div>
                <div class="col s5" id="new-account">
                  <br>
                  New? <a href="/auth/signup/">Create an account!</a>
                </div>
                
              </div>
            </div>
            
          </div>
          {{msg}}
        </div>
      
   
        {{#browserSupport}}
        <div class="unsupported-browser-tab" id="unsupported-browser" onclick="unsupportedBrowserSwitch()">
             <h6>{{browserSupport.head}}</h6>
             {{{browserSupport.message}}}
             <br> 
             Your Browser: <strong>{{browserSupport.browser.name}} v.{{browserSupport.browser.major}}</strong>
             <br> <br> <a class="waves-effect waves-green btn-flat center" href="https://poster983.github.io/Passport-Live/tutorial-Web%20App%20System%20Requirements.html">See System Requirements</a></p>
             <p class="unsupported-browser-tab-last"><a href="#" class="unsupported-browser-tab-btnCloseUpdateBrowser" title="Close" >&times;</a></p>
        </div>
        {{/browserSupport}}
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
	  <script src="/js/passport.js"></script>
    <script type="text/javascript">
        function unsupportedBrowserSwitch() {
          document.getElementById('unsupported-browser').className = 'unsupported-browser-tab open'; 
          document.getElementById('unsupported-browser').onclick = unsupportedBrowserClose;
        }
        function unsupportedBrowserClose() {
          document.getElementById('unsupported-browser').style.display = 'none';
        }
        $("#email").on( "input", function(){checkFormFill();})
        $("#password").on( "input", function(){checkFormFill();})

        function checkFormFill() {
          if($("#email").val() == "" && $("#password").val() == "") {
            $("#login-btn-container").slideUp(500);
            $("#alt-login-options").slideDown(500);
          } else {
            $("#login-btn-container").slideDown(500);
            $("#alt-login-options").slideUp(500);
          }
        }

        $(document).ready(function() {
          if(getUrlParameter("failGoogle")) {
            Materialize.toast($("<span>Google Authentication Failed.</span>").append("<br/> <span>If you don't have a Passport account, you must create one.</span> "), 6000)
          }
        });

        function login() {
            var email = $("#email").val();
            var password = $("#password").val();
            if(email == "" || password == "") {
                Materialize.toast('Please Enter Your PassportID', 6000)
            } else {
                isFormLoading(true);
                $.ajax({
                    type: "post",
                    url: "/api/auth/login/dscm/",
                    data: {email: email, password: password},
                    success: function(data) {
                        window.location.href = "/"
                    },
                    error: function(jqXHR) {
                        if(jqXHR.status == 401) {
                            Materialize.toast('Email or Password is incorrect', 6000)
                            isFormLoading(false);
                        } else {
                            isFormLoading(false);
                            errorHand(jqXHR)
                        }
                        
                    }                      
              });
            }
        }
        function isFormLoading(bool) {
            console.log(bool)
            if(bool) {
                $("#logo").removeClass("animate").addClass("load");
                $("#login-inputs").removeClass("animate").addClass("load");
            } else {
                $("#logo").removeClass("load").addClass("animate");
                $("#login-inputs").removeClass("load").addClass("animate");
            }
        }
        //handle submit
        $('body').keypress(function (e) {
          if (e.which == 13) {
            login();
            return false;   
          }
        });
    </script>
    </body>


    </html>