{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->

    <body class="blur-back">
        <div class="containerlogin signin-allign">

            <div class="card-panel eagleBlood animated fadeInDown">
            <form name="form1" method="post" action="/auth/signup">
                <h3 class="center">Welcome To Passport</h3>
                <div class="card-panel">


                <div class="input-field">
                    <input name="email" type="email" id="email">
                    <label for="email">Email</label>
                </div>

                <div class="input-field">
                    <input name="password" type="password" id="password">
                    <label for="password">Password</label>
                </div>
                </div>
                <button class="btn waves-effect waves-light red darken-4" type="submit" name="Submit">Signup
                    <i class="material-icons right">lock_open</i>
                </button>
								<br>
								<div class="section">
								<a class="waves-effect waves-light btn" href="createAccount.php">Create An Account</a>
							</div>
            </form>
            			{{#message}}
						<h6> {{message}} </h6>
						{{/message}}
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
	<script src="js/passport.js"></script>
    </body>


    </html>