<style is="custom-style">
    paper-fab {
        display: inline-block;
        margin: 2px;
        --paper-fab-keyboard-focus-background: var(--dark-primary-color)
    }
    .cancel {
        --paper-fab-background: var(--paper-red-500);
    }
    .accept {
        --paper-fab-background: var(--paper-green-500);
    }
    .undo {
    	--paper-fab-background: var(--paper-orange-500);
    }

    /* Span Styles */
</style>

<paper-fab id="check" class="accept" mini disabled="[[disabled]]" on-click="_stateButtonClicked" icon="icons:check"></paper-fab>
<paper-fab id="block" class="cancel" mini disabled="[[disabled]]" on-click="_stateButtonClicked" icon="icons:block"></paper-fab>
