{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
    <style>
    .welcome {
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>
    <body class="grey darken-4">
       
        <div class="hCenter">
            <img src="images/passportLogo/icon-144x144.png" alt="Passport Logo">
        </div>
        <div class="welcome">
            <h1 class="center white-text">Welcome to Passport!</h1>
            <p class="center white-text"> -- You Have Multiple Options -- </p>
            <div class="container">
                <div class="input-field col s12">
                    <form method="post" id="selForm" action="{{callbackURL}}">
                      <select id="dashSel" onchange="changed(this.value);">
                        <option value="" disabled selected>Where do you want to go?</option>
                      </select>
                      <label>Dashboard</label>
                    </form>
                </div>
              </div>
        </div>
        {{>foot}}

        <script>
            $(document).ready(function() {
                populateSelect();
            });
            function populateSelect() {

                "{{dashboards}}".split(",").forEach(function(currVal) {
                    $('#dashSel').append("<option value=" + currVal + ">" + currVal + "</option>");
                });
                $('select').material_select();
            };

            function changed(val) {
                window.location.href = [location.protocol, '//', location.host, location.pathname].join('') + val;
            };

        </script>
    </body>

</html>