<style is="custom-style">
    paper-item-body {
        --paper-item-body-secondary-color: var(--paper-grey-500)
    }

    .right {
        float: right;
    }
</style>
<paper-icon-item>
    <iron-icon icon="favorite" slot="item-icon"></iron-icon>
    <paper-item-body two-line>
        <template is="dom-if" if="[[showStateButtons]]">
            <passport-pass-state-buttons class="right" pass-id="{{passId}}"></passport-pass-state-buttons>
        </template>
        <div class="">head</div>
        <div secondary>Date:
            <strong>[[date]]</strong>
        </div>
        <!--<div secondary>Period: <strong>[[period]]</strong></div>
        <div secondary>Date: <strong>[[date]]</strong></div>
        <div secondary>Date: <strong>[[date]]</strong></div>-->

    </paper-item-body>
</paper-icon-item>