{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
<body class="grey darken-4">

<!--342x470-->
        </section>
  <!-- Nav Bar-->
  <nav class="nav-extended">
    <div class="nav-wrapper">
      
      <ul id="slide-out" class="side-nav">
       <li><div class="userView">
         <div class="background">
           <img alt="Side-Nav Background" src="/images/stunav.jpg">
         </div>
         <a href="#!user"><img src="/api/media/avatar/{{user.id}}/100.svg" alt="" class="passport-avatar circle responsive-img"></a>
         <a href="#!name"><span class="white-text name">{{user.name.first}} {{user.name.last}}</span></a>
         <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
       </div></li>
       <li><a class="waves-effect active" href="#!">Home</a></li>
       <li><a class="waves-effect" href="/student/account">Your Account</a></li>
       <li><div class="divider"></div></li>
       <!--<li><a class="subheader">Subheader</a></li>-->
       <li><a class="waves-effect" href="auth/logout">Logout<i class="material-icons right">lock_outline</i></a></li>

     </ul>
     <a href="#" data-activates="slide-out" class="nav-sandwich button-collapse left-allign show-on-large"><i class="material-icons">menu</i></a>
     <a href="#" class="brand-logo center">Passport</a>
     <span class="nav-right">{{passportVersion}}</span>
  </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#studentsArriving">Students Arriving</a></li>
        <li class="tab"><a href="#studentsLeaving">Students Leaving</a></li>
        <li class="tab"><a href="#requestAStudent">Request a Student</a></li>
      </ul>
    </div>
  </nav>
  
    <nav>

    <div class="nav-wrapper theme-second">

      <form method="get" action="">
        <div class="input-field">
          <input  id="t-Search" name="teacherName" type="search" placeholder="Search by Email" value="{{user.email}}">
          <label class="label-icon" for="t-Search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>


          <button class="btn waves-effect waves-light" style="position: absolute; left: -9999px"  type="submit" name="search">Search
              <i class="material-icons right">search</i>
          </button>
        </div>
      </form>
    </div>
  </nav>

  <!--Content-->
  

    


</body>
</html>