{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
<body class="grey darken-4">
 <!--Loading Screen-->
        <section id="fullAjaxLoadingScreen" class="loadingScreen loading">


            <div class="vCenter">

              {{>mixens/logoLoader}}

            </div>

<!--342x470-->
        </section>

  <!-- Dropdown Structure -->
  <ul id="threeDot" class="dropdown-content">
    <li><a href="account.php">Account</a></li> 
    <li class="divider"></li>
    <li><a href="/auth/logout">Logout<i class="material-icons right">lock</i></a></li>
  </ul>
  <!-- Nav Bar-->
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="nav-left brand-logo">Passport</a>
      <ul id="nav-mobile" class="right">
        <!--<li class="right"><a href="logout.php">Logout<i class="material-icons right">lock</i></a></li>-->
        <li><a id="threeDotButton" class="dropdown-button" href="#!" data-activates="threeDot">	&nbsp; &nbsp; &nbsp;	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i class="material-icons left">more_vert</i> </a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#studentsArriving">Students Arriving</a></li>
        <li class="tab"><a href="#studentsLeaving">Students Leaving</a></li>
        <li class="tab"><a href="#requestAStudent">Request a Student</a></li>
      </ul>
    </div>
  </nav>
  
    <nav>

    <div class="nav-wrapper theme-second">

      <form method="get" action="">
        <div class="input-field">
          <input  id="t-Search" name="teacherName" type="search" placeholder="Search by Email" value="{{user.email}}">
          <label class="label-icon" for="t-Search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>


          <button class="btn waves-effect waves-light" style="position: absolute; left: -9999px"  type="submit" name="search">Search
              <i class="material-icons right">search</i>
          </button>
        </div>
      </form>
    </div>
  </nav>
   




    <!--FEEDBACK FAB-->


    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="Feedback">
            <i class="large material-icons">assignment</i>
        </a>
        <ul>
            <li><a class="btn-floating red modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Bug Report" href="#bugmodal"><i class="material-icons">report_problem</i></a></li>
            <li><a class="btn-floating yellow darken-1 modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Leave A Review" href="#reviewmodal"><i class="material-icons">thumbs_up_down</i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="Wiki" href="https://poster983.gitbooks.io/passport-help/content/"><i class="material-icons">live_help</i></a></li>
            <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="Github" href="https://github.com/poster983/passport/"><i class="material-icons">code</i></a></li>
        </ul>
    </div>


  <!-- Bug Modal -->
  <div id="bugmodal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Bug report</h4>
        <div class="row">
            <form class="col s12" method="post" action="">
                <div class="row">
                    <div class="input-field col s6"> <i class="material-icons prefix">account_circle</i>
                        <input id="bugname" name="bugname" required type="text" class="validate">
                        <label for="bugname">Name</label>
                    </div>
                    <div class="input-field col s6"> <i class="material-icons prefix">email</i>
                        <input id="bugemail" name="bugemail" required type="email" class="validate">
                        <label for="bugemail">Email</label>
                    </div>
                    <div class="input-field col s12"> <i class="material-icons prefix">comment</i>
                        <textarea id="bugtext" name="bugtext" required class="materialize-textarea" length="255"></textarea>
                        <label for="bugtext">Describe the bug or issue</label>
                    </div>
                    <h5 class="center">Bug Severity Slider</h5>
                    <p class="center">1 being low priority and 5 being high priority</p>
                        <p class="range-field">
                            <input type="range" id="bugseverity" name="bugseverity" min="1" max="5" value="3" />
                        </p>
                </div>
                <div class="modal-footer">

                    <button class="btn waves-effect waves-light modal-action modal-close" type="submit" name="submitbug">Submit Bug Report
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>

    </div>

  </div>

  <!-- Review Modal -->
  <div id="reviewmodal" class="modal bottom-sheet">
  <div class="modal-content">
      <h4>Leave a review</h4>
      <div class="row">
          <form class="col s12" method="post" action="">
              <div class="row">
                  <div class="input-field col s6"> <i class="material-icons prefix">account_circle</i>
                      <input id="reviewname" name="reviewname" required type="text" class="validate">
                      <label for="reviewname">Name</label>
                  </div>
                  <div class="input-field col s6"> <i class="material-icons prefix">email</i>
                      <input id="reviewemail" name="reviewemail" required type="email" class="validate">
                      <label for="reviewemail">Email</label>
                  </div>
                  <div class="input-field col s12"> <i class="material-icons prefix">comment</i>
                      <textarea id="reviewtext" name="reviewtext" class="materialize-textarea" length="255"></textarea>
                      <label for="reviewtext">Comment</label>
                  </div>
                  <h5 class="center">Rating Slider</h5>

                      <p class="range-field">
                          <input type="range" id="rating" name="rating" min="1" max="10" value="5" />
                      </p>
              </div>
              <div class="modal-footer">

                  <button class="btn waves-effect waves-light modal-action modal-close" type="submit" name="submitreview">Submit Review
                      <i class="material-icons right">send</i>
                  </button>
              </div>
          </form>
      </div>

  </div>

  </div>

  <!--Complete Signup Model-->
  <div id="completeSignup" class="unclosable modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Let's set up your account!</h4>
      <p>First, </p>
      <div class="input-field col s12">
          <label for="timepicker">Time</label>
          <input id="timepicker" class="timepicker" type="time">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>


  <!--Content-->
  <div class="container">
    <!-- Request a pass for students -->
    <!--Students Leaving-->
    <!--Tab-->
    <div id="studentsLeaving" class="col s12">
      <div class="section">
              <div class="row">
                <div class="col s12">
                  <div id="MyPassesCard" class="card grey darken-3 hoverable">
                    <div class="card-content ">
                      <span class="card-title white-text">Students Leaving</span>
                      <ul class="collection">
                        <div id="studentsLeavingReturn">
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div id="studentsArriving" class="col s12">
       <div class="section">
              <div class="row">
                <div class="col s12">
                  <div id="MyPassesCard" class="card grey darken-3 hoverable">
                    <div class="card-content ">
                      <span class="card-title white-text">Students Arriving</span>
                      <ul class="collection">
                        <div id="studentsArrivingReturn">
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div id="requestAStudent" class="col s12">
      <div class="section">
        <div class="row">
          <div class="col s12">
            <div id="requestAStudentCard" class="card grey darken-3 hoverable">
              <div class="card-content white-text">
                <span class="card-title">Request A Student</span>
                <div id="requestAStudentReturn">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tap-target" data-activates="threeDotButton">
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div>
          
  <footer class="page-footer grey darken-3">
<div class="footer-copyright">
  <div class="container">
      <a class="black-text left" href="https://www.josephhassell.com/">Copyright © 2016-{{currentYear}} Joseph Hassell</a> &nbsp &nbsp
      <a class="black-text right" href="https://github.com/poster983/Passport-Live/blob/master/LICENSE">License </a> &nbsp &nbsp
      <a class="black-text right" href="https://poster983.github.io/Passport-Live/">Project Page &nbsp; &nbsp;</a>&nbsp &nbsp
  </div>
</div>
</footer>

<!-- Scripts -->
        <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
  <script>
      if ('addEventListener' in window) {
          window.addEventListener('load', function () {
              document.body.className = document.body.className.replace(/\bis-loading\b/, '');
          });
          document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
      }
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="js/materialize.js"></script>
  <script src="js/passport.js"></script>
  <script src="js/materialize.clockpicker.js"></script>
  <script src="/moment/min/moment-with-locales.min.js"></script>

<script>
$(document).ready(function(){
   $('.unclosable').modal({
    dismissible: false
   });
   $('.timepicker').pickatime({
      autoclose: false,
      twelvehour: true,
      darktheme: true,
      default: 'now',
      vibrate: true,
    });
  
  $.when(setLeaving(), setArriving(), checkForUrlHash()).done(function(a1, a2, a3){
    $('#fullAjaxLoadingScreen').removeClass("loading");
  });
});

// Pass Avatar Button
  //hover Effect 
  

//Get Messages
function getMessages(){
  console.log("Remake message system");
}

function checkForUrlHash() {
  if(window.location.hash == "#completeSignupStart") {
    $('#completeSignup').modal('open');
  }
}

  ////MY Leaving CARD////
 
 function getstudentsLeaving(done) {
  $.ajax({
      type: "get",
      url: "/api/passes/me/by/fromPerson/from/" + moment().format("Y-MM-DD") + "/to/" + moment().add(1, "days").format("Y-MM-DD"),
      dataType: "json",
      beforeSend: function(xhr){xhr.setRequestHeader('X-XSRF-TOKEN', getCookie("XSRF-TOKEN"));},
      success: function(data) {done(null, data)},
      error: function(jqXHR) {done(jqXHR)}                      
    });
 }
 
 function setLeaving() {
  getstudentsLeaving(function(err, myPasses) {
    if(err) {
      return errorHand(err)
    }
    console.log(myPasses)
    $myPasses = $('#studentsLeavingReturn')
    for(var i = 0; i < myPasses.length; i++) {
      console.log(myPasses[i])
      var checkNo = $("<span/>")
                      .addClass("right")
                      .append(
                          $("<a/>")
                            .addClass("btn-floating waves-effect waves-light red tooltipped")
                            .attr("data-position", "right")
                            .attr("data-delay", "50")
                            .attr("data-tooltip", "Undo Checkout")
                            .append(
                                $("<i/>")
                                  .addClass("material-icons")
                                  .text("undo")
                              )
                        )

      var checkYes = $("<span/>")
                      .addClass("right")
                      .append(
                          $("<a/>")
                            .addClass("btn-floating waves-effect waves-light green tooltipped")
                            .attr("data-position", "left")
                            .attr("data-delay", "50")
                            .attr("data-tooltip", "Checkout Migrator")
                            
                            .append(
                                $("<i/>")
                                  .addClass("material-icons")
                                  .text("check")
                              )
                        )
      var avatarEl = $("<img/>")
                      .addClass("passport-avatar circle")
                      .attr("src", "/api/media/avatar/" + myPasses[i].migrator.id + "/50.svg")
                      .attr("alt", "Avatar")

      var titleEl = $("<span/>")
                      .addClass("title")
                      .text(myPasses[i].migrator.name.first + " " + myPasses[i].migrator.name.last)

      titleEl.prepend(
            $("<i/>")
              .addClass("material-icons")
              .text("remove_red_eye")
        )

      var dateEl = $("<p/>")
                      .text("Date: ")
                      .append(
                        $("<strong/>")
                        .text(moment(myPasses[i].date).format("dddd, LL"))
                      )

      var periodEl = $("<p/>")
                      .text("Period: ")
                      .append(
                        $("<strong/>")
                        .text(myPasses[i].period.toUpperCase())
                      )
      
      var statusEl = $("<span/>")
                      .attr("data-badge-caption", myPasses[i].status.confirmation.state.charAt(0).toUpperCase() + myPasses[i].status.confirmation.state.slice(1))
                      .addClass("new badge")
      switch(myPasses[i].status.confirmation.state) {
        case "pending":
            break;
        case "accepted":
              statusEl.addClass("green");
            break;
        case "canceled":
        case "denied":
            statusEl.addClass("red");
            break;
      }

      var leavingFromEl = $("<p/>")
                      .text("Leaving From: ")
                      .append(
                        $("<strong/>")
                        .text(myPasses[i].fromPerson.name.first + " " + myPasses[i].fromPerson.name.last)
                      )

      var requesterEl = $("<p/>")
                      .text("Requester: ")
                      .append(
                        $("<strong/>")
                        .text(myPasses[i].requester.name.first + " " + myPasses[i].requester.name.last)
                      )
                       

      //set final holder
      var li = $("<li/>")
                  .addClass("collection-item avatar")
                  .append(checkNo)
                  .append($("<span/>").addClass("right").text(String.fromCharCode(160)))
                  .append(checkYes)
                  .append(avatarEl)
                  .append(titleEl)
                  .append(dateEl)
                  .append(periodEl)
                  .append(statusEl)
                  .append(leavingFromEl)
                  .append(requesterEl)
                  .attr("data-passId-leaving", myPasses[i].id)
                  
      $myPasses.append(li)
      //code to fire after element has been set 
      $('.tooltipped').tooltip({delay: 50});

      //check if migrator has been released 
      if(myPasses[i].status.migration.arrivedTime) {
        releaseButtonsChanger(myPasses[i].id, "arrived")
      } else if(myPasses[i].status.migration.excusedTime){
        releaseButtonsChanger(myPasses[i].id, "true")
      } else {
        releaseButtonsChanger(myPasses[i].id, "false")
      }

    }
  })
 }
 //Check Off migrator for students leaving 
 function releaseMigratorActions(passLI, isMigrating) {
  var passLI = $(passLI);
  console.log(isMigrating)
  setMigrationStatus(passLI.attr("data-passId-leaving"), isMigrating, function(err, trans) {
    if(err) {
      errorHand(err);
      console.log("Error")
      materialResponse("cancel", "error");
    }
    if(trans && trans.replaced == 1) {
      if(isMigrating == "true") {
        Materialize.toast('Successfully Released Student', 4000) 
      } else {
        Materialize.toast('Undone Release', 4000) 
      }
      releaseButtonsChanger(passLI.attr("data-passId-leaving"), isMigrating);
    } else {
      materialResponse("warning", "error");
    }
  }) 

  
 }

function setMigrationStatus(passId, status, done) {
  $.ajax({
      type: "patch",
      url: "/api/passes/status/" + passId + "/isMigrating/" + status,
      dataType: "json",
      beforeSend: function(xhr){xhr.setRequestHeader('X-XSRF-TOKEN', getCookie("XSRF-TOKEN"));},
      success: function(data) {done(null, data)},
      error: function(jqXHR) {done(jqXHR)}                      
    });
}


function releaseButtonsChanger(passId, isRelease) {
  var releaseBtn = $("*[data-passId-leaving=" + passId + "]").find("a.green.btn-floating");
  var undoBtn = $("*[data-passId-leaving=" + passId + "]").find("a.red.btn-floating");
  switch(isRelease) {
    case "false": 
      releaseBtn.attr("disabled", false);
      releaseBtn.attr("onclick", "releaseMigratorActions(this.closest(\'li\'), \"true\");");
      undoBtn.attr("disabled", true);
      undoBtn.attr("onclick", false);
      break;
    case "true": 
      releaseBtn.attr("disabled", true);
      releaseBtn.attr("onclick", false);
      undoBtn.attr("disabled", false);
      undoBtn.attr("onclick", "releaseMigratorActions(this.closest(\'li\'), \"false\");");
      break;
    case "arrived":
      releaseBtn.attr("disabled", true);
      releaseBtn.attr("onclick", false);
      undoBtn.attr("disabled", true);
      undoBtn.attr("onclick", false);
      break;
  }
}



////MY Arriving CARD////
 
 function getStudentsArriving(done) {
  $.ajax({
      type: "get",
      url: "/api/passes/me/by/toPerson/from/" + moment().format("Y-MM-DD"),
      dataType: "json",
      beforeSend: function(xhr){xhr.setRequestHeader('X-XSRF-TOKEN', getCookie("XSRF-TOKEN"));},
      success: function(data) {done(null, data)},
      error: function(jqXHR) {done(jqXHR)}                      
    });
 }
 
 function setArriving() {
  getStudentsArriving(function(err, myPasses) {
    if(err) {
      return errorHand(err)
    }
    console.log(myPasses)
    $myPasses = $('#studentsArrivingReturn')
    for(var i = 0; i < myPasses.length; i++) {
      console.log(myPasses[i])
      var checkNo = $("<span/>")
                      .addClass("right")
                      .append(
                          $("<a/>")
                            .addClass("btn-floating waves-effect waves-light red tooltipped")
                            .attr("data-position", "right")
                            .attr("data-delay", "50")
                            .attr("data-tooltip", "Cancel This Pass")
                            .append(
                                $("<i/>")
                                  .addClass("material-icons")
                                  .text("not_interested")
                              )
                        )

      var checkYes = $("<span/>")
                      .addClass("right")
                      .append(
                          $("<a/>")
                            .addClass("btn-floating waves-effect waves-light green tooltipped")
                            .attr("data-position", "left")
                            .attr("data-delay", "50")
                            .attr("data-tooltip", "Confirm This Pass")
                            .append(
                                $("<i/>")
                                  .addClass("material-icons")
                                  .text("check")
                              )
                        )
      var avatarEl = $("<img/>")
                      .addClass("passport-avatar circle")
                      .attr("src", "/api/media/avatar/" + myPasses[i].migrator.id + "/50.svg")
                      .attr("alt", "Avatar")

      var titleEl = $("<span/>")
                      .addClass("title")
                      .text(myPasses[i].migrator.name.first + " " + myPasses[i].migrator.name.last)

      titleEl.prepend(
            $("<i/>")
              .addClass("material-icons")
              .text("remove_red_eye")
        )

      var dateEl = $("<p/>")
                      .text("Date: ")
                      .append(
                        $("<strong/>")
                        .text(moment(myPasses[i].date).format("dddd, LL"))
                      )

      var periodEl = $("<p/>")
                      .text("Period: ")
                      .append(
                        $("<strong/>")
                        .text(myPasses[i].period.toUpperCase())
                      )

      var statusEl = $("<span/>")
                      .attr("data-badge-caption", myPasses[i].status.confirmation.state.charAt(0).toUpperCase() + myPasses[i].status.confirmation.state.slice(1))
                      .addClass("new badge")
      
      switch(myPasses[i].status.confirmation.state) {
        case "pending":
            break;
        case "accepted":
              statusEl.addClass("green");
            break;
        case "canceled":
        case "denied":
            statusEl.addClass("red");
            break;
      }

      var leavingFromEl = $("<p/>")
                      .text("Leaving From: ")
                      .append(
                        $("<strong/>")
                        .text(myPasses[i].fromPerson.name.first + " " + myPasses[i].fromPerson.name.last)
                      )

      var requesterEl = $("<p/>")
                      .text("Requester: ")
                      .append(
                        $("<strong/>")
                        .text(myPasses[i].requester.name.first + " " + myPasses[i].requester.name.last)
                      )
                       

      //set final holder
      var li = $("<li/>")
                  .addClass("collection-item avatar")
                  .append(checkNo)
                  .append($("<span/>").addClass("right").text(String.fromCharCode(160)))
                  .append(checkYes)
                  .append(avatarEl)
                  .append(titleEl)
                  .append(dateEl)
                  .append(periodEl)
                  .append(statusEl)
                  .append(leavingFromEl)
                  .append(requesterEl)
                  .attr("data-passId-arriving", myPasses[i].id)
      $myPasses.append(li)

      setArrivingButtonsAndState(myPasses[i].id, myPasses[i].status);
      $('.tooltipped').tooltip({delay: 50});

    }
  })
 }

 function setArrivingButtonsAndState(passId, stateJSON) {
  var releaseBtn = $("*[data-passId-arriving=" + passId + "]").find("a.green.btn-floating");
  var undoBtn = $("*[data-passId-arriving=" + passId + "]").find("a.red.btn-floating");
  var badge = $("*[data-passId-arriving=" + passId + "]").find("span.new.badge");

  switch(stateJSON.confirmation.state){
    case "pending": 
      releaseBtn.attr("disabled", false);
      releaseBtn.attr("onclick", "console.log('accepted')");
      undoBtn.attr("disabled", false);
      undoBtn.attr("data-tooltip", "Deny This Pass Request");
      undoBtn.attr("onclick", "console.log('denied')");
      badge.removeClass().addClass("new badge");
      break;
    case "accepted": 
      releaseBtn.attr("disabled", true);
      releaseBtn.attr("onclick", false);
      undoBtn.attr("disabled", false);
      undoBtn.attr("data-tooltip", "Cancel This Pass");
      undoBtn.attr("onclick", "console.log('canceled')");
      badge.removeClass().addClass("new badge green");
      break;
    case "denied":
    case "canceled":
      releaseBtn.attr("disabled", false);
      releaseBtn.attr("data-tooltip", "Reaccept This Pass");
      releaseBtn.attr("onclick", "console.log('accepted')");
      undoBtn.attr("disabled", true);
      undoBtn.attr("onclick", false);
      badge.removeClass().addClass("new badge red");
      break;
    case "enroute": 
      releaseBtn.attr("disabled", true);
      releaseBtn.attr("onclick", false);
      undoBtn.attr("disabled", true);
      undoBtn.attr("onclick", false);
      badge.removeClass().addClass("new badge green accent-4");
      break;
    default:
      releaseBtn.attr("disabled", true);
      releaseBtn.attr("onclick", false);
      undoBtn.attr("disabled", true);
      undoBtn.attr("onclick", false);
      badge.removeClass().addClass("new badge black");
  }
 }


</script>
</body>

</html>