<div class="loadingScreenCenter">
  <div style="order: 0; ">
    <div class="passportLogo box">
       <div class="dark-half"></div>
       <img class="logo load" alt="Passport Is Loading" src="/images/logo/anchor.svg">
    </div>
  </div>
  <div style="order: 1; height: 30px;"></div>
  <h5 class="white-text" style="order: 3;">Please Wait</h5>
  <h6 class="white-text" style="order: 4;" id="FSloadingMsg"></h6>
  <div class="vFlex-center" style="order: 2">
    <div class="preloader-wrapper big active">
     <div class="spinner-layer spinner-blue">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>

     <div class="spinner-layer spinner-red">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>

     <div class="spinner-layer spinner-yellow">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>

     <div class="spinner-layer spinner-green">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
   </div>
  </div>
</div>
<script src="./js/webpack/loader-message.min.js"></script>
<script type="text/javascript">
  let ltxt = document.getElementById('FSloadingMsg');
  ltxt.innerHTML = loaderMessage.phrase({includePleaseWait: false});
</script>