{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
<body>
  <div class="login-background">
  <!-- Loader Bar -->
    <div class="progress" id="loader" style="position: absolute; display:none;">
      <div class="indeterminate"></div>
    </div>
    <div class="login-col">

      <div class="login-container">
        
        <img src="/images/logo/512x512.png" class="login-logo animate login-transitions" id="logo">

        <div id="login-inputs" class="white-text login-inputs animate login-transitions"> 
          <div class="input-field col s1" id="back-button" style="display: none;">
            <a href="#" class="waves-effect waves-circle waves-light"><i class="material-icons white-text ">arrow_back</i></a>
          </div>
           <div class="input-field col s5" id="password-div">
            <input id="password" type="password" class="validate">
            <label for="password" data-error="Passwords must match">New Password</label>
          </div>
          <div class="input-field col s5" id="password-validate-div">
            <input id="password-validate" type="password" class="validate">
            <label for="password-validate" data-error="Passwords must match">Again</label>
          </div>
          <div class="col s5" id="submit-btn-container">
            <a class="waves-effect waves-light btn" onclick="submit();"><i class="material-icons left">lock_open</i>Reset Password</a>
          </div>  
          <div id="timeoutClock" class="progress">
              <div class="determinate" style="transition: all 0.5s; width: 100%"></div>
          </div>
        
          <div class="col s5" id="message" style="display: none;">
            <h5>Failed To send Message</h5>
            <p>See the console (F12) for full error logs.</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/passport.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var clock = $("#timeoutClock > .determinate");
      startTimeoutClock(120000, 1000, (progress) => {
        clock.css("width", progress + "%");
        if(progress <= 15) {
          clock.addClass("red", 500)
        }
        if(progress <= 0) {
          $("#submit-btn-container > a").addClass("disabled")
          $("#submit-btn-container > a").html("Session has expired")
        }
      })
    });

    $("#password-validate").on("keyup", vali);
    $("#password").on("keyup", vali);



    function vali(e) {
      if($("#password-validate").val() != $("#password").val()) {
        $("#password-validate").removeClass("valid").addClass("invalid");
        $("#password").removeClass("valid").addClass("invalid");
      } else {
        $("#password-validate").removeClass("invalid").addClass("valid");
        $("#password").removeClass("invalid").addClass("valid");
      }
    }
    function submit() {
      if($("#password-validate").val() != $("#password").val()) {
        return errorHand(new Error("Passwords Must Match"));
      }
      //console.log($("#password").val())
      $.ajax({
        type: "post",
        url: "/account/resetPassword",
        dataType: "json",
        data: {
          password: $("#password").val(),
          passwordVer: $("#password-validate").val()
        },
        beforeSend: function(xhr){xhr.setRequestHeader('X-XSRF-TOKEN', getCookie("XSRF-TOKEN"));},
        success: function(json) {
          if (data.redirect) {
            // data.redirect contains the string URL to redirect to
              window.location.href = data.redirect;
          }
        },  
        error: function(jqXHR) {errorHand(jqXHR)}                      
      });
      /*fetch("/account/resetPassword", {
        method: "POST",
        headers: new Headers({
          //"Content-Type": "application/json",
          "x-xsrf-token": getCookie("XSRF-TOKEN")
        }),
        credentials: 'same-origin',
        body: JSON.stringify({
          password: $("#password").val(),
          passwordVer: $("#password-validate").val()
        })
      }).then(fetchStatus).then(fetchJSON).then((json) => {
        console.log(json)
      }).catch((err) => {
        return errorHand(err);
      })*/
    }
  </script>
</body>
</html>