{{>head}}
<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
<body>
  <div class="login-background">
  <!-- Loader Bar -->
    <div class="progress" id="loader" style="position: absolute; display:none;">
      <div class="indeterminate"></div>
    </div>
    <div class="login-col">
      <div class="login-container">
        
        <img src="/images/logo/512x512.png" class="login-logo animate login-transitions" id="logo">

        <div id="login-inputs" class="white-text login-inputs animate login-transitions"> 
          <div class="input-field col s1" id="back-button" style="display: none;">
            <a href="#" class="waves-effect waves-circle waves-light"><i class="material-icons white-text ">arrow_back</i></a>
          </div>
           <div class="input-field col s5" id="password-div">
            <input id="email" type="email" class="validate">
            <label for="email">New Password</label>
          </div>
          <div class="input-field col s5" style="display: none;" id="password-validate-div">
            <input id="password" type="password" class="validate">
            <label for="password">Again</label>
          </div>
          <div class="col s5" id="submit-btn-container">
            <a class="waves-effect waves-light btn" onclick="login();"><i class="material-icons left">lock_open</i>Login With Passport</a>
          </div>
          <div class="col s5" id="message" style="display: none;">
            <h5>Failed To send Message</h5>
            <p>See the console (F12) for full error logs.</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</body>