<!--
Passport-Live is a modern web app for schools that helps them manage passes.
    Copyright (C) 2017  Joseph Hassell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

email: hi@josephhassell.com
-->
<div class="progress" id="loader" style="position: absolute; display:none;">
  <div class="indeterminate"></div>
</div>
<!--The NAv-->
<nav>
    <div class="nav-wrapper">
      
      <ul class="left">
        <a href="#" class="no-hover left-allign" style="" id="mixenSEBack"><i class="material-icons">arrow_back</i></a>
      </ul>
      <ul class="right hide-on-small-only">
        <a class="waves-effect waves-light mixenSESave" id="mixenSESave-nav"><i class="left material-icons">save</i>Save</a>
      </ul>

    </div>
</nav>


<!--THe FAB-->
<div class="fixed-action-btn hide-on-med-and-up">
  <a class="btn-floating btn-large red waves-effect waves-light pulse disabled mixenSESave" id="mixenSESave-fab">
    <i class="large material-icons">save</i>
  </a>
</div>

<!-- THe page -->
<div class="container">

  <div id="SETable"> 
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <a id="se-advancedOptionsCaret" data-position="left" data-tooltip="More Options" class="right waves-effect waves-circle waves-light btn-floating grey darken-2 tooltipped" ><i class="material-icons">expand_less</i></a>
            <span class="card-title">My Schedule</span>
            <!--Advanced Options -->
            <div id="se-advancedOptionsDIV" class="row">
              <div class="col s12">
                <div class="card-panel grey darken-4 white-text">
                  <h5 class="">Advanced Options</h5>
                  <!-- Recovery Switch -->
                  <div class="switch">
                    Recovery Mode:
                    <label>
                      Off
                      <input id="se-advancedOptions" type="checkbox" value="true">
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div id="editScheduleContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
